<!DOCTYPE html>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <div class="bootcards-list">
        <div class="panel panel-default">

          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Contacts</h3>
            <div class="btn-group pull-right">
              <a ng-click="openCreateContact()" class="btn btn-success">
                <i class="fa fa-user-plus"></i>
                <span>Add</span>
              </a>
            </div>
          </div>

          <div ng-repeat="contact in contacts" class="list-group">
            <a class="list-group-item">
              <div class="row">
                <div class="col-sm-6">
                  <!-- <i class="fa fa-3x fa-building-o pull-left"></i> -->
                  <h4 class="list-group-item-heading">{{ contact.first_name }} {{ contact.last_name }}</h4>
                  <p class="list-group-item-text">
                    {{ contact.email }}
                  </p>
                </div>
                <div class="col-sm-6">
                  <p class="list-group-item-text capitalize"><strong>Type:</strong> {{ contact.type }}</p>
                  <p class="list-group-item-text"><strong>Phone:</strong> {{ contact.phone }}</p>
                </div>
              </div>
              <hr class="hr-small-margins">
              <div class="row">
                <div class="col-sm-6">
                  <button class="btn btn-success btn-sm btn-block spacer" type="button" name="button">Edit</button>
                </div>
                <div class="col-sm-6">
                  <button ng-click="removeContact(contact._id)" class="btn btn-danger btn-sm btn-block spacer" type="button" name="button">Remove</button>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
      <!-- /.bootcards-list -->

    </div>
    <!-- /.col-xs-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
