/*
 * General Styles
 */
body {
  /*margin-top: 75px;*/
  background-color: #FFF;
}

textarea {
  width: 100%;
}

select {
  height: 25px;
}

.spacer {
  margin-bottom: 15px;
}

.table {
  margin-bottom: 30px;
}


/*
 * Login / Register Styles
 */
/* Title with line */
.login_register_title {
  text-align: center;
  border-bottom: 1px solid #DDD;
  line-height: 0;
  padding: 0;
  margin-bottom: 50px;
}

.login_register_title span {
  background: #FFF;
  padding: 0 35px;
}

.input-group .input-group-addon {
  height: 35px;
}

.form-control.login_register_input {
  height: 36px;
}

.fa-exclamation-circle {
  color: red;
  padding-left: 10px;
}


/*
 * Navigation Bar Styles
 */
 /* Force navbar brand color to white */
.navbar-header .navbar-brand {
  color: #FFF
}

/* Change cursor to a pointer when hovering over the logout button */
#logout {
  cursor: pointer;
}

/* Force fa-bars brand color to white */
button.navbar-toggle span,
i.fa-bars {
  color: #FFF;
}


/*
 * Views Styles
 */
.padding-left {
  padding-left: 0;
}

.information {
  margin-top: 25px;
}

.information-no-top-margin {
  margin-top: 0px;
}

.view-details {
  padding-left: 5px;
}

.view-details li {
  list-style: none;
}

.details {
  padding-left: 5px;
  margin-bottom: 10px;
}

.details-info {
  display: block;
  margin-left: 22px;
  color: black;
}

.sidebar {
  border-right: 1px solid darkgrey;
}


/*
 * Footer Styles
 */
footer {
 	background: #F4F4F4;
 	height: 90px;
 	color: #04519B;
 	font-weight: bold;
 	text-align: center;
 	padding-top: 30px;
 	margin-top: 30px;
 	border-top: 5px solid #04519B;
}
