/*
 * Navigation Bar Styles
 */
body {
  background-color: #FFF;
}

 /* Force navbar brand color to white */
.navbar-header .navbar-brand {
  color: #FFF
}

/* Change cursor to a pointer when hovering over the logout button */
#logout {
  cursor: pointer;
}

/* Force fa-bars brand color to white */
button.navbar-toggle span,
i.fa-bars {
  color: #FFF;
}


/*
 * Login / Register Styles
 */
/* Title with line */
.login_register_title {
  text-align: center;
  border-bottom: 1px solid #DDD;
  line-height: 0;
  padding: 0;
  margin-bottom: 50px;
}

.login_register_title span {
  background: #FFF;
  padding: 0 35px;
}

.input-group .input-group-addon {
  height: 35px;
}

.form-control.login_register_input {
  height: 36px;
}

.fa-exclamation-circle {
  color: red;
  padding-left: 10px;
}

/*
 * Footer Styles
 */
footer {
 	background: #F4F4F4;
 	height: 90px;
 	color: #04519B;
 	font-weight: bold;
 	text-align: center;
 	padding-top: 30px;
 	margin-top: 30px;
 	border-top: 5px solid #04519B;
}
