/*
 * General Styles
 */
body {
  /*margin-top: 75px;*/
  background-color: #FFF;
}

textarea {
  width: 100%;
}

select {
  height: 25px;
}

.spacer {
  margin-bottom: 15px;
}

.table {
  margin-bottom: 100px;
}

.capitalize {
  text-transform: capitalize;
}

/* Change cursor to a pointer when needed */
.pointerCursor {
  cursor: pointer;
}

li a.remove {
  background-color: red;
  color: white;
}

li a.remove:hover {
  background-color: #C60303;
  color: white;
}

ul.dropdown-menu .divider {
  margin: 4px 0;
}


/*
 * Login / Register Styles
 */
/* Title with line */
.login_register_title {
  text-align: center;
  border-bottom: 1px solid #DDD;
  line-height: 0;
  padding: 0;
  margin-bottom: 50px;
}

.login_register_title span {
  background: #FFF;
  padding: 0 35px;
}

.input-group .input-group-addon {
  height: 35px;
}

.form-control.login_register_input {
  height: 36px;
}

.fa-exclamation-circle {
  color: red;
  padding-left: 10px;
}


/*
 * Navigation Bar Styles
 */
 /* Force navbar brand color to white */
.navbar-header .navbar-brand {
  color: #FFF
}

/* Force collapsed menu color to white */
button.navbar-toggle span,
i.menu {
  color: #FFF;
}

/* Force button border color to white */
.navbar-inverse .navbar-toggle {
  border-color: #FFF;
}


/*
 * Views Styles
 */
.sidebar {
  border-right: 1px solid darkgrey;
}

.padding-left {
  padding-left: 0;
}

.information {
  margin-top: 25px;
}

.information-no-top-margin {
  margin-top: 0px;
}

.view-details {
  padding-left: 5px;
}

.view-details li {
  list-style: none;
}

.details {
  padding-left: 5px;
  margin-bottom: 10px;
}

.details-info {
  display: block;
  margin-left: 22px;
  color: black;
}

.nested-view {
  margin-top: 35px;
}


/*
 * ngDialog Styles
 */
/*.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
   width: 350px;
}*/


/*
 * Footer Styles
 */
footer {
 	background: #F4F4F4;
 	height: 90px;
 	color: #04519B;
 	font-weight: bold;
 	text-align: center;
 	padding-top: 30px;
 	margin-top: 30px;
 	border-top: 5px solid #04519B;
}


/*
 * Media Queries
 */

 /* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #search {
    padding: 20px 0 10px 0;
  }
}

 /* Small Devices, Tablets */
 @media only screen and (max-width : 767px) {
  .user-name {
    margin-top: 10px;
    font-size: 30px;
  }

  .col-xs-12 {
    padding-left: 15px;
  }

  .sidebar {
    border-right: none;
  }

  .chips {
    display: block;
    margin-bottom: 10px;
  }
 }
