<!DOCTYPE html>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <h3 class="text-center">Track a company</h3>

      <form class="form-horizontal" ng-submit="trackCompany()">
        <fieldset>

          <div class="form-group">
            <label for="company_name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-7">
              <input ng-model="company.name" type="text" class="form-control" id="name" name="name" value="" title="Please enter the company name" placeholder="Company Name" required="">
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 text-right">Description</label>
            <div class="col-sm-7">
              <textarea ng-model="company.description" name="description" class="form-control" id="description" title="Please enter a description" placeholder="Description" rows="3" required=""></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3 spacer">
              <button class="btn btn-success btn-sm btn-block" type="submit" name="button">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Track Company
              </button>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-primary btn-sm btn-block" ui-sref="track_company" name="button">
                <i class="fa fa-list-alt fa-fw" aria-hidden="true"></i>
                Full Form
              </button>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
    <!-- /.col-xs-10 -->
  </div>
  <!-- /.row -->

</div>
