<!DOCTYPE html>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <div class="panel panel-default bootcards-summary">
        <div class="panel-heading">
          <h3 class="text-center">Dashboard</h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2">
              <a ui-sref="companies" class="bootcards-summary-item">
                <i class="fa fa-3x fa-building-o"></i>
                <h4>Companies <span class="label label-info">{{ totalCompanies }}</span></h4>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-2">
              <a ui-sref="contacts" class="bootcards-summary-item">
                <i class="fa fa-3x fa-users"></i>
                <h4>Contacts <span class="label label-info">{{ totalContacts }}</span></h4>
              </a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.bootcards-summary -->

    </div>
    <!-- /.col-xs-10 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
